extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p #{foods.length} Items listed
          p #{shop.address}
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text #{shop.openingtime} - #{shop.closingtime}
          .card.card-primary
            .card-block
              h2.card-title Days Open
                br
                each day in shop.days.split(",")
                  span.badge.badge-warning
                    i.fa.fa-check
                    | &nbsp;#{day}
                  | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src=`http://maps.googleapis.com/maps/api/staticmap?center=${shop.coords[0]},${shop.coords[1]}&zoom=17&size=400x350&sensor=false&markers=${shop.coords[0]},${shop.coords[1]}&scale=2`)
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href=`/shop/${shop._id}/food/new`)
                | Add Food
              h2.card-title Foods For sale
              each food in foods
                .row.review
                  .col-12.no-gutters.review-header
                    span.reviewAuthor #{food.name}
                    span Experation: 
                    small.reviewTimestamp
                      +formatDate(food.experation)
                    span.badge.badge-pill.badge-default.float-right= `€${food.price}`
                  .col-12
                    p !{(food.description).replace(/\n/g, '<br/>')}
              else
                .row.review
                  .col-12.no-gutters.review-header
                    p='no food to show'

