extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message
      each shop in shops
        .card
          .card-block
            h4
              a(href=`/shop/${shop._id}`)= `${shop.name}  `
              - if (shop.closed == false)
                span.badge.badge-pill.badge-default= `Open`
              - if (shop.closed == true)
                span.badge.badge-pill.badge-default= `Closed`
            p=`Open From ${shop.openingtime} to ${shop.closingtime}`
            p.address= shop.address
            


    .col-12.col-md-4
      a.btn.btn-lg.btn-danger(href="/shop/new") Create Shop